# config.yml

# global parameters
data_path: data/coinbase_book_2024-10-29_2024-11-11
num_files:
precision:
clean_strategy: dropna
num_levels_features: 10
trim_levels_raw_features: 5#put none to use all levels of raw features
label_price_type: simple_midpoint
label_price_levels: 1
label_price_col:  #default is midpoint
label_method: tlob
label_k: 50
label_h: 50
label_alpha: 'auto' #'auto', # 0.0001 # Use dynamic or fixed alpha
verbose: True
sequence_length: 100 # T
output_path: results/ #Default is None
output_name: tlob # This is the name that will appended to your filename to store your best model dynamically with the early stopping protocol.


split_fractions: {'train': 0.7, 'val': 0.15, 'test': 0.15}
seed: 42

train:
  batch_size: 1024
  num_workers: 0
  lr: 0.0001
  n_epochs: 20
  early_stop_patience: 5 # Leaving blank will remove early stopping behavior
  early_stop_threshold: 0.0001

model:
  # this must match what Trainer._build_model() expects
  type: rnn_model
  # any extra model-specific params can go here,
  # e.g. hidden layer sizes, dropout, activation, etc.
  in_features: 43  #3 basic features + 4 * 10 levels raw features
  num_layers: 1
  hidden_dim: 128


loss:

optimizer:
  type: adamw
  weight_decay: 0.0001
  eps: 0.0000001
  # for AdamW you need a betas tuple
  betas: [0.9, 0.999]
  # if you also want to support SGD, you could add:
  # momentum: 0.9

scheduler:
  factor: 0.5 #0.5  The factor to reduce LR by when plateau is triggered
  patience: 2 #2 The number of consecutive epochs that val loss must not improve by threshold to trigger LR drop
  threshold: .0004 #.0004 The threshold for evaluating an val loss plateau
  cooldown: 0 #0 Number of epochs to wait after an LR adjustment before tracking a new plateau