# config.yml

# global parameters
data_path: data/coinbase_book_2024-10-29_2024-11-11
num_files:
precision:
clean_strategy: dropna
num_levels_features: 10
label_price_type: simple_midpoint
label_price_levels: 1
label_price_col:  #default is midpoint
label_method: tlob
label_k: 20
label_h: 50
label_alpha: 0.00005 #'auto', # 0.0001 # Use dynamic or fixed alpha
verbose: True
sequence_length: 50 # T
output_path: #Default is None

split_fractions: {'train': 0.7, 'val': 0.15, 'test': 0.15}
seed: 42

train:
  batch_size: 124
  num_workers: 0
  lr: 0.01
  n_epochs: 10

model:
  # this must match what Trainer._build_model() expects
  type: cnn_model
  # any extra model-specific params can go here,
  # e.g. hidden layer sizes, dropout, activation, etc.
  input_features: 40
  hidden_sizes: [128, 64]
  dropout: 0.5

optimizer:
  type: adamw
  weight_decay: 0.0001
  eps: 0.0000001
  # for AdamW you need a betas tuple
  betas: [0.9, 0.999]
  # if you also want to support SGD, you could add:
  # momentum: 0.9